/* Common */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', 'Noto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
audio,
video {
  max-width: 100%;
}

/* Main */
main {
  min-height: 120%;
  padding: 1rem;
}

section {
  padding: 0 1rem;
}

section.landing-section {
  height: 40%;
  text-align: center;
}
